<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Short Your URL</title>
</head>
<body>
    <div class="contents">
        <h1> URL Shortner Page</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="input_data" placeholder="Enter some data" required>
            <button type="submit">Submit</button>
        </form>
    
        {% if shorturl %}
            <h2>Your Shortened Url :-</h2>
            <a href="{{ orgurl }}">{{ shorturl }}</a>
        {% endif %}
    </div>
</body>
</html>